<nav class="navbar navbar-expand-md bg-dark py-3" data-bs-theme="dark">
    <div class="container"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-5">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="#">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Cursantes</a></li>
                <li class="nav-item"><a class="nav-link active" href="#">Carreras</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Gestion</a></li>
            </ul>
        </div>
    </div>
</nav>