<div class="tbl">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Duracion</th>
        <th scope="col">Profesor</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let materia of materiaList">
        <th scope="row">{{ materia.idMateria }}</th>
        <td>{{ materia.nombre}}</td>
        <td>{{ materia.duracion}}</td>
        <td>{{ materia.profesor}}</td>
        <td>
          <button class="btn btn-danger" (click)="onEliminar(materia.idMateria)">
            <img src="../../../../assets/img/delete.png" alt="Eliminar">
          </button>
        </td>
      </tr>

    </tbody>
  </table>
</div>